

/** Entries *******************************************************************/

.slingshot .entry {
    padding: 4px 8px;
    border-radius: 3px;
    color: #333;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 1px 1px #eee;
    background-gradient-direction: vertical;
    background-gradient-start: #ededed;
    background-gradient-end: #fafafa;
    caret-color: #333;
    caret-size: 1px;
    selection-background-color: #6bb2e1;
    selected-color: #fff;
    height: 16px;
}

.slingshot .entry:focus,
.slingshot .entry:hover {
    border-radius: 3px;
    color: #333;
    border: 1px solid #6bb2e1;
    box-shadow: inset 0px 0px 1px 1px #c7deee;
}

/** Buttons *******************************************************************/

.slingshot .button {
    padding: 5px;
    border-radius: 2.5px;
    background-color: transparent;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.20);
    box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.20);
}

.slingshot .button:active,
.slingshot .button:checked,
.slingshot .button:hover:active,
.slingshot .button:hover:checked {
    background-color: rgba(0, 0, 0, 0.20);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.20);
}

/** App Buttons ***************************************************************/

.slingshot .button.app {
    border-width: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 3px;
}

.slingshot .app:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

.slingshot .app:focus {
    background-color: rgba(0, 0, 0, 0.20);
}

/** Sidebar Buttons ***********************************************************/

.slingshot .sidebar {
    background-color: transparent;
    height: 100%;
}

/** Linked Buttons ************************************************************/

/* Middle button */
.slingshot .linked .button,
.slingshot .linked .button:active,
.slingshot .linked .button:active:hover,
.slingshot .linked .button:focus,
.slingshot .linked .button:focus:active,
.slingshot .linked .button:insensitive {
    border-right-width: 0px;
    border-radius: 0px;
}

/* Leftmost button */
.slingshot .linked .button:first-child,
.slingshot .linked .button:active:first-child,
.slingshot .linked .button:active:hover:first-child,
.slingshot .linked .button:focus:first-child,
.slingshot .linked .button:focus:active:first-child,
.slingshot .linked .button:insensitive:first-child {
    border-radius-bottomright: 0px;
    border-radius-topright: 0px;
    border-radius-bottomleft: 2.5px;
    border-radius-topleft: 2.5px;
}

/* Rightmost button */
.slingshot .linked .button:last-child,
.slingshot .linked .button:active:last-child,
.slingshot .linked .button:active:hover:last-child,
.slingshot .linked .button:focus:last-child,
.slingshot .linked .button:focus:active:last-child,
.slingshot .linked .button:insensitive:last-child {
    border-right-width: 1px;
    border-radius-bottomright: 2.5px;
    border-radius-topright: 2.5px;
    border-radius-bottomleft: 0px;
    border-radius-topleft: 0px;
}

/* Linked single button */
.slingshot .linked .button:only-child,
.slingshot .linked .button:active:only-child,
.slingshot .linked .button:active:hover:only-child,
.slingshot .linked .button:focus:only-child,
.slingshot .linked .button:focus:active:only-child,
.slingshot .linked .button:insensitive:only-child {
    border-width: 1px;
    border-radius: 2.5px;
}

.slingshot .separator {
    background-color: rgba(0, 0, 0, 0.15);
}

/** Tooltips ******************************************************************/

#Tooltip {
    padding: 4px;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(33, 37, 38, 0.90);
    color: #fff;
    text-shadow: 1px 1px #000;
    font-size: 11pt;
}


/** Layout ******************************************************************/

.slingshot .top-box {
    margin: 5px;
}

.slingshot .center-box {
    margin: 5px;
}

.slingshot .switcher-button {
    border: 3px solid rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    padding: 1px;
    font-size: 9px;
}

.slingshot .switcher-button:active,
.slingshot .switcher-button:checked,
.slingshot .switcher-button:hover,
.slingshot .switcher-button:hover:active,
.slingshot .switcher-button:hover:checked {
    background-color: rgba(255, 255, 255, 1.0);
    color: rgba(0, 0, 0, 0.9);
}

.slingshot .menu-category-button {
    font-size: 14px;
    padding: 5px;
    background-color: transparent;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.20);
    box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.20);
}

.slingshot .menu-category-button:active,
.slingshot .menu-category-button:checked,
.slingshot .menu-category-button:hover,
.slingshot .menu-category-button:hover:active,
.slingshot .menu-category-button:hover:checked {
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.20);
}

.slingshot .menu-category {
    margin-top: 0px;
    margin-left: 0px;
}

.slingshot .grid {
    font-size: 15px;
}